@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Authentication.Google
@using Microsoft.AspNetCore.Authentication.Facebook
@using MDP.AspNetCore.Authentication.GitHub
@using MDP.AspNetCore.Authentication.Line
@{

}
<!DOCTYPE html>

<html>
<head>
    <!-- title -->
    <title>MDP.WebApp | Account</title>

    <!-- meta -->
    <meta charset="utf-8" />

    <!-- stylesheet -->
    <link href="~/Index.css" rel="stylesheet" />
</head>
<body>

    <!--Title-->
    <h2>Account.Index</h2>
    <hr />

    <!--LoginByGoogle-->
    <form asp-action="Login" asp-route-externalScheme="@GoogleDefaults.AuthenticationScheme" asp-route-returnUrl="@Context.Request.Query["ReturnUrl"]" method="post">
        <input type="submit" value="LoginByGoogle" /><br />
        <br />
    </form>
    <hr />

    <!--LoginByFacebook-->
    <form asp-action="Login" asp-route-externalScheme="@FacebookDefaults.AuthenticationScheme" asp-route-returnUrl="@Context.Request.Query["ReturnUrl"]" method="post">
        <input type="submit" value="LoginByFacebook" /><br />
        <br />
    </form>
    <hr />

    <!--LoginByGitHub-->
    <form asp-action="Login" asp-route-externalScheme="@GitHubDefaults.AuthenticationScheme" asp-route-returnUrl="@Context.Request.Query["ReturnUrl"]" method="post">
        <input type="submit" value="LoginByGitHub" /><br />
        <br />
    </form>
    <hr />

    <!--LoginByLine-->
    <form asp-action="Login" asp-route-externalScheme="@LineDefaults.AuthenticationScheme" asp-route-returnUrl="@Context.Request.Query["ReturnUrl"]" method="post">
        <input type="submit" value="LoginByLine" /><br />
        <br />
    </form>
    <hr />

</body>
</html>